name: Unit tests

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: "yarn"
      
      - name: Install dependencies
        run: yarn install
        working-directory: examples/getting-started
      
      - name: Run unit tests
        run: yarn test
        working-directory: examples/getting-started
  build:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: "yarn"
      
      - name: Install dependencies
        run: yarn install
        working-directory: examples/getting-started
      
      - name: Build application
        run: yarn build
        working-directory: examples/getting-started